body{
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("scrbg.png");
}
.navbar{
    margin-left:50%;
    margin-top: 30px;
}
.buttons button{
    margin-right: 30px;
    height: 50px;
    width: 200px;
    background: transparent;
    font-family:'Gill Sans';
    font-size: 20px;
    border-radius: 10px;
    border: solid rgb(2, 0, 0) 2px;
    color: rgb(0, 0, 0);
}
.buttons :hover{
    background-color: rgb(206, 178, 21);
}
.buttons :active{
    box-shadow: 0 4px rgb(0, 0, 0);
    transform: translateY(4px);
}
.matt{
    text-align: center;
    margin-top:230px;
}